<!--Create two partials later for the if else statment below -->

<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class"stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>

<div class="center jumbotron">
   <h1>Leia Bear</h1>


    <p>
      Hi my name is Leia Bear. As you probably already noticed, I am Super CUTE. Don't worry I am NOT lost or missing. I like to
      visit my friends in Talmadge West. But I do have a curfew and have to be home by sundown. I live on
      <a href="https://maps.app.goo.gl/CyLe4do1ngKJASNV9"> 4419 Monroe ave. Sand Diego, CA. 92115 </a>. Please don't feed me so
      I can leave space for my big yummy dinner at home. In the meanwhile lets play. Also you can
      <%= link_to "Sign up now!", signup_path %> and post or view cute pictures with me. Thank you Friend.

    </p>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>


<%= link_to image_tag("leiamimis.jpg", alt: "Rails logo", width: "200", class: "leiahomepicture"), "https://rubyonrails.org/" %>

<% end %>


