

<li id="micropost-<%= micropost.id %>" style="padding: 10px 0; border-top: 1px solid #e8e8e8;">
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content" style="display: block; margin-left: 60px;"><%= micropost.content %></span>
  <span class="timestamp" style="display: block; margin-left: 60px;">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
  </span>
</li>